{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
  />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-1"
    id="main-nav">
    <div class="container">
      <a href="{% url 'create' %}" class="navbar-brand">
        <h3 class="font-weight-bold">みんなの予言</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse"
        data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link text-white">
              <i class="fas fa-user"></i> @{{ request.user.username }}
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link text-white">
              <i class="fas fa-sign-out-alt"></i> ログアウト
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'social:begin' 'twitter' %}" class="nav-link text-white">
              <i class="fas fa-sign-in-alt"></i> ツイッターでログイン
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container py-5">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>