{% extends 'base.html' %}

{% block title %}みんなの予言{% endblock %}

{% block content %}
  <h1>みんなの予言</h1>
  <p>
    「この曲は売れると思っていた」
    「こんな事件が起きると思っていた」
    ......という予言をTwitter上で気軽に実現できるWebサービスです。
  </p>
  <div>
    <p><b>ScreenName</b>:{{ user.access_token.screen_name }}</p>
    <p><b>UserId</b>:{{ user.access_token.user_id }}</p>
    <p><b>OAuthTokenSecret</b>:{{ user.access_token.oauth_token_secret }}</p>
    <p><b>OAuthToken</b>:{{ user.access_token.oauth_token }}</p>
    <p><b>AuthTime</b>:{{ user.extra_data.auth_time }}</p>
  </div>

  <div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="ツイートを送信する">
    </form>
  </div>
{% endblock %}